AWS_REGION=us-east-1
DYNAMODB_TABLE_NAME=HangmanPlayers
DYNAMODB_USE_LOCAL=true
DYNAMODB_LOCAL_ENDPOINT=http://dynamodb:8000

# For AWS deployment set these values and disable local mode
# AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
# AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
# DYNAMODB_USE_LOCAL=false
